
.logo{

    width: 150px;
    margin-top: 15px;

}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}

.btn-click{

    background-color: #fff;
    border: 2px solid #FF69B4;
    border-radius: 20px;
    padding: 5px 50px;
    color: #FF69B4;
    margin: 10px;

}

.section .get-started{

    border-radius: 30px;
    background-color: #FF69B4;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 50px;

}

.top{

    margin-top: 50px;

}

.grow-together .bg{

    background-color: #f6fbff;
    margin-left: 0px;
    margin-right: 0px;

}

.align-top{

    margin-top:150px ;

}
    .your-user .bg{

    background-color: #f6fbff;
    margin-left: 0px;
    margin-right: 0px;
    
}

.ready{

    font-weight: bold;

}

.width100 {

    width: 100%

}

.width10{

    width: 10%;

}
.contact .row{

    background-color: #00252e;
    margin: 0px;
    color: #fff;

}

.footerimg{

    width: 100%;

}

.footer1{

    width: 50px;

}

.footerheading{

    margin-left: 3px;
    font-weight: 800;
    font-size: 35px;

}

.details{

    margin-bottom: 25px;
    margin-top: 25px;

}

.phone{

    width: 25px;
    margin-right: 40px;
    margin-bottom:20px ;
    margin-top: 10px;    
    
}

.background{

    background-color: #FFC0CB;
    padding: 5px 40px;

}

.content{

color:#FF0000;

}



